<header class='flex items-center p-6 text-center lg:justify-center'>
	<nav class='absolute top-0 left-0 right-0 z-40 hidden min-h-screen py-24 bg-white peer-checked:block lg:block lg:static lg:bg-inherit lg:py-0 lg:min-h-0 bg-opacity-40 backdrop-blur-lg lg:backdrop-blur-0' id='navbar'>
			<ul class='flex flex-col items-center lg:items-start lg:flex-row font-semibold tracking-tight gap-x-8 text-black [&>li>a]:border-b-2 [&>li>a]:border-b-transparent [&>li>a]:transition-all gap-y-4'>
			<li class='flex-1 opacity-50'>
				<a href='https://youtube.com/@ergitodev' class='hover:border-b-black hover:text-black'>ergitodev</a>
			</li>
			<li class='relative flex lg:flex-col'>
				<a class='relative opacity-50 disabled hover:border-b-black hover:text-black' href='https://github.com/ergitoesp'>ergitodev</a>
			</li>
			<li class='relative flex opacity-50  disabled lg:flex-col'>
				<a class='hover:border-b-black' href='https://github.com/ergitoesp'>ergitodev</a>
			</li>
		</ul>
	</nav>
</header>

